@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to home page! You can manage your announcements here</h2>
<p>You can manage your announcements here</p>
<a href="/AnnouncementWeb/Index" class="btn btn-primary">Go to announcements list</a>

